<div class="content">
  <form ng-submit="addEmployee()">
    <input type="text" placeholder="Employee Id" ng-model="newEmployee.empid" />
    {{newEmployee.first_name}}
    <input type="text" placeholder="First Name" ng-model="newEmployee.first_name" />
    <input type="text" placeholder="Last Name" ng-model="newEmployee.last_name" />
    <input type="text" placeholder="Last Project Name" ng-model="newEmployee.last_project" />
    <input type="text" placeholder="Previous Designation" ng-model="newEmployee.designation" />
    <input type="text" placeholder="Experience in Years" ng-model="newEmployee.experience" />
    <input type="text" placeholder="Annual Rating" ng-model="newEmployee.rating" />
    <input type="submit" value="Submit" />
  </form>
  </div>
